.income-page {
  margin: 16px;

  .action-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;

    span {
      color: #707070;
      font-weight: 600;
      font-size: 15px;
    }
  }
}
