<div class="income-page">
  <div class="header">
    <h2>Доходы</h2>
    <app-input
      placeholder="Поиск..."
      [isSearchable]="true"
      (searchClicked)="onSearch($event)"
    ></app-input>
  </div>
  <hr />
  <div class="action-panel">
    <span>Всего: {{ transactions.length }} входящих транзакций</span>
    <app-button
      text="Создать транзакцию"
      (click)="createTransaction()"
    ></app-button>
  </div>
  <hr />
  <app-table [columns]="tableColumns" [data]="tableData"></app-table>
</div>
