<div class="login-page">
  <div class="form-container">
    <h2>Вход в приложение</h2>
    <div *ngIf="isError" class="error-container">
      <span>Login failed</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <app-input
        formControlName="username"
        placeholder="Логин"
        type="text"
      ></app-input>
      <app-input
        formControlName="password"
        placeholder="Пароль"
        type="password"
      ></app-input>

      <app-button text="Вход"></app-button>
      <app-button text="Регистрация"></app-button>
    </form>
  </div>
</div>
