.menu {
  background: #2978b5;
  width: 220px;
  height: 100%;
  color: white;
  font-size: 20px;
  position: fixed;
}

.menu-title {
  padding: 24px 16px;
  border-bottom: 2px solid #fff;
  font-size: 24px;

  cursor: pointer;
}

.menu-item {
  padding: 8px 16px;
  cursor: pointer;

  &.active {
    font-weight: 800;
    background: #003458;

    &:hover {
      background: #003458;
    }
  }

  &:hover {
    background: #0061a8;
  }
}

.menu-items {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 70px);
  flex-direction: column;
}
